#clock-div {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.clock-face {
  background-color: #386cb3; // Azure
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}

.digit {
  background-color: #222222; // Mine Shaft
  min-width: 7rem;
  width: 7rem;
}

.digit,
.unit {
  color: #f4f4f4; // Wild Sand (Off White)
}

.br3 {
  border-radius: 0.5rem;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.dib {
  display: inline-block;
}

.f2 {
  font-size: 3rem;
}

.f5 {
  font-size: 1.3rem;
}

.pa2 {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.pa3 {
  padding: 0.5rem 1rem;
}

.pt1 {
  padding-top: 0.5rem;
}

.san-serif {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.tc {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .digit {
    min-width: 5rem;
    width: 5rem;
  }

  .f2 {
    font-size: 2rem;
  }

  .f5 {
    font-size: 1rem;
  }

  .pa2 {
    padding: 0.25rem 0.25rem 0 0.25rem;
  }
}
