@import "clock.scss";

body {
    font-family:
        'Open Sans', 'Calibri'
        // Copied from Just the Docs style
        system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
        "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
    font-size: 1.3rem !important;
}

a, h1, h2 { font-weight: 700; }

a.nav-list-link, h3, h4, h5, h6, #toctitle  { font-weight: 600; }

.nav-list .nav-list-item { font-size: 1.2rem !important; }

.site-title { font-size: 1.5rem;}

h2 { margin: 1rem 0 !important; }

hr { height: 3px; }

img.logo-partner-page,
img.logo-sponsor-page {
  min-width: 80% !important;
  width: 80% !important;
  max-width: 80% !important;
  margin: 10px auto !important;
}

/* Responsive layout - makes the two images stack on top of each other if narrow */
@media screen and (max-width: 640px) {
  img.logo-home-page-square,
  img.logo-home-page-wide,
  img.logo-home-page-short-wide,
  img.logo-partner-page,
  img.logo-sponsor-page {
    display: block;
    margin: 30px auto !important;
    padding-left: auto !important;
    padding-right: auto !important;
  }

  img.logo-home-page-square {
    width: 70% !important;
    max-width: 70% !important;
  }

  img.logo-home-page-wide {
    min-width: 80% !important;
    width: 80% !important;
    max-width: 80% !important;
  }

  img.logo-home-page-short-wide {
    min-width: 90% !important;
    width: 90% !important;
    max-width: 90% !important;
  }
}

/* Responsive layout - makes the two images stack next to each other if wide */
@media screen and (min-width: 641px) {

  img.logo-home-page-square,
  img.logo-home-page-wide,
  img.logo-home-page-short-wide,
  img.logo-partner-page,
  img.logo-sponsor-page {
    vertical-align: middle;
  }

  img.logo-home-page-square {
    min-width: 30% !important;
    width: 30% !important;
    max-width: 30% !important;
    margin: 10px 50px 10px 0px !important;
  }

  img.logo-home-page-wide {
    min-width: 40% !important;
    width: 40% !important;
    max-width: 40% !important;
    margin: 10px 30px 10px 0px !important;
  }

  img.logo-home-page-short-wide {
    min-width: 45% !important;
    width: 45% !important;
    max-width: 45% !important;
    margin: 10px 20px 10px 0px !important;
  }
}
