
.organizer-logo { width: 200px !important; vertical-align: middle; margin: 10px 20px; }

.site-title { font-size: 1.5rem;}

@media (min-width: 31.25rem) {
    body {
        font-family:
            'Open Sans', 'Calibri'
            // Copied from Just the Docs style
            system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
            "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
        font-size: 1.3rem !important; }
    h1 { font-weight: 700; }
    h2, h3, h4, h5, h6, #toctitle  { font-weight: 600; }
    .nav-list .nav-list-item { font-size: 1.2rem !important; }

}
