
h1, h2 {
  margin: 0.5rem 0 !important;
  text-align: center;
}

#countdown-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-div {
   padding: 0.5rem 0 !important;
}
