<div class="pt1 f3 sans-serif" id="clock-div">
  <div class="tc pa2 br3 dib clock-face">
    <div class="pa2 br3 dib">
      <span class="pa3 br3 dib digit" id="days">0</span>
      <div class="f5 unit">Days</div>
    </div>
    <div class="pa2 br3 dib">
      <span class="pa3 br3 dib digit" id="hours">0</span>
      <div class="f5 unit">Hours</div>
    </div>
    <div class="pa2 br3 dib">
      <span class="pa3 br3 dib digit" id="minutes">0</span>
      <div class="f5 unit">Minutes</div>
    </div>
    <div class="pa2 br3 dib">
      <span class="pa3 br3 dib digit" id="seconds">0</span>
      <div class="f5 unit">Seconds</div>
    </div>
  </div>
</div>

<script src="/assets/js/clock.js" charset="utf-8"></script>
